<ion-header>
  <ion-toolbar>
    <ion-title>Expenses</ion-title>
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

<!-- Search & Sort -->
<ion-grid class="ion-padding" [formGroup]="searchForm">
  <ion-row>
    <ion-col size="12" size-sm="4">
      <ion-item>
        <ion-icon name="swap-vertical" slot="start"></ion-icon>
        <ion-select interface="popover" formControlName="sort">
          <ion-select-option *ngFor="let sortOption of sortOptions" [value]="sortOption.value">
            {{sortOption.label}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="12" size-sm="4">
      <ion-item>
        <ion-icon name="pricetag" slot="start"></ion-icon>
        <ion-select interface="popover" formControlName="sort" [multiple]="true">
          <ion-select-option *ngFor="let category of categories" [value]="category.value">
            {{ category.label }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="12" size-sm="4">
      <ion-item>
        <ion-icon name="search" slot="start"></ion-icon>
        <ion-input maxlength="40" placeholder="Search" [clearInput]="true" formControlName="name"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>


  <ion-list [ngSwitch]="expenses?.length" inset="true">

    <!-- Skeleton -->
    <ng-container *ngSwitchCase="null">
      <ion-item *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
        <ion-label>
          <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ng-container>

    <!-- Empty List -->
    <ion-item *ngSwitchCase="0">
      <ion-icon slot="start" name="alert-circle-outline"></ion-icon>
      <ion-label> No expenses found </ion-label>
    </ion-item>

    <!-- Expenses -->
    <ng-container *ngSwitchDefault>

      <ion-item
        button="true"
        *ngFor="let expense of expenses"
        [detail]="true"
        [disabled]="loading"
        (click)="openModal(expense)"
      >
        <ion-label> {{expense.name}} </ion-label>
        <ion-label> {{expense.category}} </ion-label>
        <ion-label> {{expense.amount}} </ion-label>
      </ion-item>

    </ng-container>

  </ion-list>

  <ion-fab id="add-expense" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <!-- Infinite Scroll -->
  <ion-infinite-scroll [disabled]="lastPageReached || loading" (ionInfinite)="loadNextExpensePage($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="reloadExpenses($event)" [disabled]="loading">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="addMonths(-1)">
        <ion-icon name="arrow-back-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ date | date: 'MMMM yyyy' }}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="addMonths(1)">
        <ion-icon name="arrow-forward-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
