
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="medium" (click)="cancel()" [disabled]="submitting">
                <ion-icon slot="start" name="close"></ion-icon>
                Cancel
            </ion-button>
        </ion-buttons>
        <ion-title>{{expense.id ? 'Edit' : 'Add'}} Expense</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="save()" [disabled]="expenseForm.pristine || expenseForm.invalid || submitting">
                <ion-icon slot="start" name="save"></ion-icon>
                Save
            </ion-button>
       </ion-buttons>
        <ion-progress-bar *ngIf="submitting" type="indeterminate"></ion-progress-bar>
    </ion-toolbar>
</ion-header>

<!-- Details -->

<ion-content class="ion-padding" [formGroup]="expenseForm">


        <!-- Input name -->

        <ion-item>
            <ion-icon name="text" slot="start"></ion-icon>
            <ion-input
                [disabled]="submitting"
                formControlName="name"
                maxlength="40"
                placeholder="Enter the expense's name"
                required="true"
            ></ion-input>
        </ion-item>

        <!-- Input category -->

  <ion-item>
    <ion-icon name="pricetag" slot="start"></ion-icon>
    <ion-select
      [disabled]="submitting"
      formControlName="categoryId"
      placeholder="Select a category"
      interface="action-sheet"

    >
      <ion-select-option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </ion-select-option>
    </ion-select>
    <ion-button (click)="openCategoryModal()" [disabled]="submitting">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-item>

        <!-- Input price -->

        <ion-item>
            <ion-icon name="cash" slot="start"></ion-icon>
            <ion-input
                    inputmode="decimal"
                    placeholder="Enter the amount in CHF"
                    type="number"
                    [disabled]="submitting"
                    formControlName="amount"
                    required="false"
            ></ion-input>
          <ion-note slot="end">
            CHF
          </ion-note>
        </ion-item>

        <!-- Input date -->

        <ion-item>
            <ion-icon name="calendar" slot="start"></ion-icon>
<!--          <ion-datetime-->
<!--            [disabled]="submitting"-->
<!--            formControlName="date"-->
<!--            displayFormat="YYYY-MM-DDTHH:mm:ss.SSSZ"-->
<!--            pickerFormat="YYYY-MM-DDTHH:mm:ss.SSSZ"-->
<!--            placeholder="Select Date"-->
<!--          ></ion-datetime>-->

          <ion-datetime-button datetime="datetime"></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime
                            id="datetime"
                            presentation="date"
                            [disabled]="submitting"
                            formControlName="date"
                            displayFormat="DD/MM/YYYY"
                            pickerFormat="MM DD YYYY"
                            placeholder="Select Date"

              ></ion-datetime>
            </ng-template>
          </ion-modal>

        </ion-item>



</ion-content>

<ion-fab *ngIf="expense.id" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="delete()" color="danger" [disabled]="submitting">
        <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
</ion-fab>


