<ion-header>
  <ion-toolbar>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-icon name="swap-vertical" slot="start"></ion-icon>
            <ion-select interface="popover">
              <ion-select-option> Created at (newest first) </ion-select-option>
              <ion-select-option> Created at (oldest first) </ion-select-option>
              <ion-select-option> Name (A-Z) </ion-select-option>
              <ion-select-option> Name (Z-A) </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

      </ion-col>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-icon name="search-outline" slot="start"></ion-icon>
            <ion-input label="" placeholder="Search"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item [button]="true" (click)="openModal()">
      <ion-label>Pokémon Yellow</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab id="add-category" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
